# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/

# Indexes
storage/github_index/
storage/pdf_index/
storage/github_chunks.pkl
storage/pdf_chunks.pkl

# Uploaded files
storage/uploads/

# Repositories downloaded
repos/

# Node
frontend/node_modules/

# React build
frontend/dist/

# VS Code
.vscode/

# Mac
.DS_Store